body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f8f9fa;
    color: #2A2F33;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
}

section h1 {
    padding-left: 225px;
}

#botaoNovaImagem {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

#botaoNovaImagem:hover {
    background-color: #0056b3;
}

#seletorSection {
    background-color: #f0f0f0;
    padding: 20px;
    display: none;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

form {
    text-align: center;
}

input {
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #ced4da;
    margin-right: 10px;
    width: 60%;
    transition: box-shadow 0.3s;
}

input:focus {
    box-shadow: 0 0 12px rgba(0, 123, 255, 0.5);
}

#botaoAdicionar,
#botaoCancelar {
    background-color: #383E59;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

#botaoCancelar {
    background-color: #593E59;
}

#botaoAdicionar:hover,
#botaoCancelar:hover {
    background-color: #218838;
}

ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0;
}

ul li {
    width: calc(25% - 20px);
    list-style: none;
    position: relative;
    overflow: hidden;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

ul li img {
    width: 100%;
    height: 300px;
    display: block;
    border-radius: 12px 12px 0 0;

}

.overlay {
    padding: 16px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 0 0 12px 12px;
}

ul li:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.2);
}

ul li:hover .overlay {
    opacity: 1;
}

ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}